body {
  background-color: #101233; /* ダーク背景色 */
  color: white; /* テキストカラー白*/
  
  background-image: url("xv.png"); /* 画像パス指定 */
  background-repeat: repeat; /* 画像をタイリング */

  text-align: center;　/* 文字を全てセンタリング */
}


pre { /* ``` ``` のコードブロック内部*/
  background-color: black;
  color: white;
}

/* .highlight クラスを使ったコードブロックのスタイル変更 */
.highlight {
  background-color: black;
  color: white;
  /* 他のスタイル（フォントサイズ、余白など）も追加できます */
}
